@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --background-color: #121212;
    --container-color: #1e1e1e;
    --accent-color: #ff6600;
    --accent-hover: #ff7f2a;
    --primary-text: #f5f5f5;
    --secondary-text: #a0a0a0;
    --border-color: #2d2d2d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background-color: var(--background-color);
    min-height: 100vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-header {
    background-color: var(--accent-color);
    width: 100%;
    padding: 20px;
    text-align: center;
    color: var(--background-color);
    font-size: 1rem;
    line-height: 2rem;
    border-radius: 0px 0px 30px 30px;
}

.main-header h1{
    font-weight: 900;
}

.workout-container {
    background-color: var(--background-color);
    padding: 20px 20px 100px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 100vh;
    flex-direction: column;
}

.workout-container h2 {
    color: var(--primary-text);
    font-size: 1.2rem;
    margin-top: 20px;
}

.workout-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    transition: transform 0.3s ease;
}

.workout-card:hover {
    transform: translateY(-5px);
}

.workout-title {
    margin-top: 20px;
    font-size: 1.4rem;
    color: var(--primary-text);
}

.remove-btn {
    background-color: var(--background-color);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
    border: none;
    color: var(--border-color);
    max-width: 10%;
}

.title {
    color: var(--primary-text);
}

.desc {
    color: var(--secondary-text);
    font-size: 0.9rem;
    width: 90%;
}

.item-individual-container {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.fab {
    position: fixed;
    bottom: 100px;
    right: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(to right, var(--accent-hover), var(--accent-color));
    color: white;
    border: none;
    font-size: 1.8rem;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.fab:hover {
    transform: scale(1.1);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Começa escondido */
    display: none; 
    z-index: 1000;
}

.modal-content {
    background-color: var(--container-color);
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
    margin-top: 0;
    margin-bottom: 25px;
    color: var(--primary-text);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: var(--secondary-text);
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--primary-text);
    font-size: 1rem;
}

.modal-actions {
    display: flex;
    justify-content: flex-end; /* Alinha botões à direita */
    gap: 15px;
    margin-top: 30px;
}

.modal-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.btn-cancel {
    background-color: transparent;
    color: var(--secondary-text);
}

.btn-save {
    background-color: var(--accent-color);
    color: white;
}

.nav-bar {
    background-color: var(--accent-color);
    width: 100%;
    bottom: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    border-radius: 30px 30px 0px 0px;
}

.nav-bar a {
    border: none;
    background-color: transparent;
    color: var(--background-color);
    font-weight: 600;
    height: 100%;
    width: 33%;
    padding: 20px;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    text-decoration: none;
}

.nav-bar a:hover, .nav-bar a:active {
    background-color: var(--accent-hover);

}

